MovieRental.Web/Service References/MovieRentalService/MovieRentalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MovieRentalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:31728/MovieRentalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:31728/MovieRentalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:31728/MovieRentalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MovieRental.Models" />
      <xsd:import schemaLocation="http://localhost:31728/MovieRentalService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MovieRental.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMovieRentalService_GetMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieRentalService_GetMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRentalService_RentMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:RentMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieRentalService_RentMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:RentMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRentalService_AddMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieRentalService_AddMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRentalService_DeleteMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieRentalService_DeleteMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRentalService_RandomMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:RandomMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieRentalService_RandomMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:RandomMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRentalService_ResetMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieRentalService_ResetMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRentalService_HealthCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:HealthCheck" />
  </wsdl:message>
  <wsdl:message name="IMovieRentalService_HealthCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:HealthCheckResponse" />
  </wsdl:message>
  <wsdl:portType name="IMovieRentalService">
    <wsdl:operation name="GetMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRentalService/GetMovie" message="tns:IMovieRentalService_GetMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRentalService/GetMovieResponse" message="tns:IMovieRentalService_GetMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RentMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRentalService/RentMovie" message="tns:IMovieRentalService_RentMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRentalService/RentMovieResponse" message="tns:IMovieRentalService_RentMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRentalService/AddMovie" message="tns:IMovieRentalService_AddMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRentalService/AddMovieResponse" message="tns:IMovieRentalService_AddMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRentalService/DeleteMovie" message="tns:IMovieRentalService_DeleteMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRentalService/DeleteMovieResponse" message="tns:IMovieRentalService_DeleteMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RandomMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRentalService/RandomMovie" message="tns:IMovieRentalService_RandomMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRentalService/RandomMovieResponse" message="tns:IMovieRentalService_RandomMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRentalService/ResetMovie" message="tns:IMovieRentalService_ResetMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRentalService/ResetMovieResponse" message="tns:IMovieRentalService_ResetMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HealthCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRentalService/HealthCheck" message="tns:IMovieRentalService_HealthCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRentalService/HealthCheckResponse" message="tns:IMovieRentalService_HealthCheck_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMovieRentalService" type="tns:IMovieRentalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieRentalService/GetMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RentMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieRentalService/RentMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieRentalService/AddMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieRentalService/DeleteMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RandomMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieRentalService/RandomMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieRentalService/ResetMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HealthCheck">
      <soap:operation soapAction="http://tempuri.org/IMovieRentalService/HealthCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovieRentalService">
    <wsdl:port name="BasicHttpBinding_IMovieRentalService" binding="tns:BasicHttpBinding_IMovieRentalService">
      <soap:address location="http://localhost:31728/MovieRentalService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>